<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <!--_-_-_-_-_-_-_-_-_-_-_-_-_HEADER_-_-_-_-_-_-_-_-_-_-_-_-_-->
    <header>
        <div class="div-logo">
            <div class="logo"><a href="../index.html">AlejoCorona</a></div>
            
            <nav>
                <a href="../index.html" id="boton1">Inicio</a>
				<a href="Productos.html" id="boton2">Productos</a>
				<a href="presupuesto.html" id="boton3">Presupuestos</a>
				<a href="contacto.html" id="boton4">Contacto</a>
            </nav>
        </div>
    </header>

    <!--_-_-_-_-_-_-_-_-_-_-_-_-_MAIN_-_-_-_-_-_-_-_-_-_-_-_-_-->
    <main>
        <div id="contacto">
            <div id="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5986.962591532739!2d2.146729075283562!3d41.38535299612254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2814432985b%3A0xe3a1ee3b1c127e69!2sC.%20de%20Proven%C3%A7a%2C%20112%2C%20Eixample%2C%2008029%20Barcelona!5e0!3m2!1ses-419!2ses!4v1716925866924!5m2!1ses-419!2ses" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           </div>

            <div id="tabla">
                <table>
                    <tr>
                        <th>
                            Direccion
                        </th>
                        <th>
                            C. de Provença, 112, Eixample, 08029 Barcelona
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Telefono
                        </th>
                        <th>
                            935 51 72 85
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Correo Electronico
                        </th>
                        <th>
                            <a href="mailto:coronaalejo2@gmail.com">coronaalejo2@gmail.com</a>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Web
                        </th>
                        <th>
                            Aca va a ir la url
                        </th>
                    </tr>

                </table>
            </div>
        </div>


    </main>

    <!--_-_-_-_-_-_-_-_-_-_-_-_-_FOOTER_-_-_-_-_-_-_-_-_-_-_-_-_-->
    <footer>
        <div>
            <p class="footer-p" id="p1">© Todos los derechos reservados</p>
            <p class="footer-p" id="p2">ACA VA A IR LA URL</p>
        </div>

        <ul class="redes">
            <li class="redes-animation">
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
            </li> 
            <li class="redes-animation"> 
                <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><i class="fab fa-facebook"></i></a>
            </li> 
            <li class="redes-animation">
                <a  href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="redes-animation">
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        
    </footer>
    </body>
    </html>
