<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../css/Productos.css">
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <!--_-_-_-_-_-_-_-_-_-_-_-_-_HEADER_-_-_-_-_-_-_-_-_-_-_-_-_-->
    <header>
        <div class="div-logo">
            <div class="logo"><a href="../index.html">AlejaoCorona</a></div>
            
            <nav>
                <a href="../index.html" id="boton1">Inicio</a>
				<a href="views/Productos.html" id="boton2">Productos</a>
				<a href="views/presupuesto.html" id="boton3">Presupuestos</a>
				<a href="views/contacto.html" id="boton4">Contacto</a>
            </nav>
        </div>
    </header>

    <!--_-_-_-_-_-_-_-_-_-_-_-_-_MAIN_-_-_-_-_-_-_-_-_-_-_-_-_-->
    <main>
        <div id="galery">
            <img src="../assets/images/galeria1.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria2.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria3.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria4.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria5.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria6.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria7.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria8.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria9.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria10.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria11.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria12.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria13.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria14.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria15.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria16.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria17.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria18.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria19.jpg" alt="imagen de reloj">
            <img src="/assets/images/galeria20.jpg" alt="imagen de reloj">
            <img class=imgpanoramicas src="/assets/images/galeria21.jpg" alt="imagen de reloj">
            <img class=imgpanoramicas src="/assets/images/galeria22.jpg" alt="imagen de reloj">
            <img class=imgpanoramicas src="/assets/images/galeria23.jpg" alt="imagen de reloj">
        </div>
    </main>

    <!--_-_-_-_-_-_-_-_-_-_-_-_-_FOOTER_-_-_-_-_-_-_-_-_-_-_-_-_-->
    <footer>
        <div>
            <p class="footer-p" id="p1">© Todos los derechos reservados</p>
            <p class="footer-p" id="p2">ACA VA A IR LA URL</p>
        </div>

        <ul class="redes">
            <li class="redes-animation">
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
            </li> 
            <li class="redes-animation"> 
                <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><i class="fab fa-facebook"></i></a>
            </li> 
            <li class="redes-animation">
                <a  href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="redes-animation">
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        
    </footer>
    </body>
    </html>
